.admin-classes-container {
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd; /* Kenar çizgisi */
  border-radius: 8px; /* Kenar yuvarlama */
  background-color: #f9f9f9; /* Arka plan rengi */
}

.header {
  display: flex;
  justify-content: space-between; /* Sağ ve sol kenarları ayır */
  align-items: center; /* Dikey ortalama */
}

.admin-classes-container h1 {
  margin-bottom: 20px;
  color: #333; /* Başlık rengi */
}

.classes-list {
  display: flex;
  flex-direction: column; /* Dikey olarak sıralama */
  align-items: center; /* Ortalamak için */
}

.class-card {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc; /* Ders kutusu kenar çizgisi */
  border-radius: 5px; /* Ders kutusu kenar yuvarlama */
  background-color: #fff; /* Ders kutusu arka plan rengi */
  width: 80%; /* Genişlik ayarı */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Gölgelendirme efekti */
  display: flex; /* Flexbox ile düzenleme */
  flex-direction: column; /* Dikey düzenleme */
  align-items: flex-start; /* Sola yasla */
}

.class-card button {
  margin-top: 10px; /* Silme butonu için üst boşluk */
  padding: 5px 10px;
  background-color: #f44336; /* Silme butonu rengi */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* Geçiş efekti */
}

.class-card button:hover {
  background-color: #d32f2f; /* Hover rengi */
}

.back-button {
  margin-top: 20px; /* Geri dön butonu için üst boşluk */
  padding: 10px 15px;
  background-color: #4CAF50; /* Geri dön butonu rengi */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #45a049; /* Geri dön butonu hover rengi */
} 